body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, #7b2ff7, #f107a3);
  color: white;
}

.screen {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.card {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  padding: 25px;
  border-radius: 16px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

input {
  padding: 12px;
  width: 100%;
  border-radius: 10px;
  border: none;
  margin-top: 10px;
}

button {
  width: 100%;
  padding: 14px;
  border: none;
  border-radius: 10px;
  background: #ff78c4;
  color: white;
  font-size: 1rem;
  margin-top: 15px;
  cursor: pointer;
}

button:hover {
  opacity: 0.85;
}
